<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/estilo_manga.css'%}">

    <title>Manga</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <!-- Logo Principal -->
                <a href="{% url 'home' %}">
                    <img src="{% static 'core/img/logo-manga.png'%}" alt="LOGO_FORO" style="width: 180px;">
                </a>
                <div class="col-md-6 text-center" style="margin-top: auto; margin-bottom: auto;">
                    <h1>Maneki-Neko</h1>
                </div>

                <!-- fin logo principal -->
            </div>
            <div class="col-sm">
                <!-- Menu Principal -->
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link Inicio" aria-current="page" href="{% url 'home'%}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'anime' %}">Anime</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Usuario: {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout'%}">Cerrar sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
                    </li>
                    {% endif %}
                </ul>

                <!-- Fin Menu Principal -->


            </div>
        </div>

        <!-- imagenes 1 y 2 -->

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">¿Que es el Manga?</strong>
                        <h3 class="mb-0">El Manga y su exito los ultimos años</h3>
                        <div class="mb-1 text-muted">abril 11</div>
                        <p class="card-text-l mb-auto">Con una larga historia profundamente arraigada en el rico arte japonés, el manga es uno de los fenómenos más fascinantes de Japón y de todo el mundo. Los cómics tradicionales japoneses se denominan manga, una palabra nipona que
                            significa literalmente dibujos irresponsables. Su paternidad se atribuye al artista del siglo XVIII Hokusai, aunque los manga no se hicieron populares hasta después de la Segunda Guerra Mundial.
                        </p>
                        <!--<a href="#" class="stretched-link">Continue reading</a>-->
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" src="{% static 'core/img/Manga/Manga1.jpg'%}" class="rounded float-left" alt="blog">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Top 1</strong>
                        <h3 class="mb-0">One Piece</h3>
                        <div class="mb-1 text-muted">abril 12</div>
                        <p class="card-text-r mb-auto">Tomando en cuenta diferentes elementos los resultados dieron por ganador a la historia de One Piece, la cual recientemente publicó su capítulo número 1000. One Piece es el manga más vendido de la revista Shonen Jump, (la más importante,
                            reconocida y vendida del medio), de la editorial Shueisha, y de la historia, con más de 474 millones de copias vendidas a nivel mundial, y en Japón fue el manga más vendido de manera consecutiva desde el año 2007 hasta 2018
                            logrando un récord histórico.
                        </p>
                        <!--<a href="#" class="stretched-link">Continue reading</a>-->
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" src="{% static 'core/img/Manga/opmanga.jpg'%}" class="rounded float-right" alt="blog">



                    </div>
                </div>
            </div>
        </div>

        <!-- fin imagenes 1 y 2-->


        <!-- inicio imagenes 3 y 4 -->

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Top 2</strong>
                        <h3 class="mb-0">Demons Slayer
                        </h3>
                        <div class="mb-1 text-muted">abril 12</div>
                        <p class="card-text-l mb-auto">En 2° lugar, y para sorpresa de algunos, se ubica el manga de Koyoharu Gotōge, Demon Slayer, el cual en 2020 estrenó su primera película, la cual se volvió el filme más taquillero en la historia de Japón. es un manga escrito e
                            ilustrado por Koyoharu Gotōge que comenzó a serializarse el 15 de febrero de 2016 en la revista semanal Shūkan Shōnen Jump de la editorial Shūeisha. Una adaptación al anime producida por estudio Ufotable, fue estrenada el 6
                            de abril de 2019 y finalizó el 28 de septiembre del mismo año.</p>
                        <!--<a href="#" class="stretched-link">Continue reading</a>-->
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" src="{% static 'core/img/Manga/dsmanga.jpg'%}" class="rounded float-left" alt="blog">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Top 3 </strong>
                        <h3 class="mb-0">Slam Dunk</h3>
                        <div class="mb-1 text-muted">abril 12</div>
                        <p class="card-text-r mb-auto">el el 3° lugar encontramos a Slam Dunk que sigue siendo un anime deportivo que vale la pena ver, tanto sus partidos como sus personajes son excelentes y te darán más de una risa, sin contar de sus grandes momentos que te mantendrán
                            al borde de tu asiento. Slam Dunk es un manga escrito e ilustrado por Takehiko Inoue, La trama sigue a Hanamichi Sakuragi un estudiante de preparatoria que decide practicar baloncesto para conquistar a Haruko Akagi, una chica
                            de la cual él está enamorado.</p>
                        <!--<a href="#" class="stretched-link">Continue reading</a>-->
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="300" src="{% static 'core/img/Manga/slummanga.jpg'%}" class="rounded float-right" alt="blog">



                    </div>
                </div>
            </div>
        </div>

    </div>


    <footer>
        <div class="footer-content">
            <div class="left box">
                <h2>Expandamos nuestra comunidad!</h2>
                <div class="content">
                    <p>¡Siguenos en nuestras redes sociales!</p>
                    <div class="social">
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                        <a href="#"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2>Dirección</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Providencia, Region Metropolitana</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt"></span>
                        <span class="text">+569 52 34 06 15</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">manekineko@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- fin imagenes 3 y 4 -->

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>

</html>