{% extends 'core/base.html' %} {% load static %} {% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'core/css/onepiece.css' %}"> {% endblock %} {% block contenido %}
<title>Top3: One piece</title>
</head>

<body>
    <div class="spacer"></div>

    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <a href="{% url 'home' %}" id="volver" class="btn btn-outline-dark">Volver</a>
            <div class="eight wide column">
                <h3 class="ui huge header">Sinopsis</h3>
                <p>Una historia épica de piratas, donde narra la historia de "Monkey D. Luffy" quien cuado tenia 7 años, comió accidentalmente una "Akuma no mi"(Futa del diablo) la cual le dio poderes de goma.</p>
                <h3 class="ui huge header"></h3>
                <p>Por otra parte "Gol D. Roger" conocido como "El rey de los Piratas" quien fuera ejecutado por la Marine, habló antes de morir, acerca de su famoso tesoro "One Piece" escondido en la "Gran line"
                </p>
            </div>
            <div class="six wide right floated column">
                </br>
                <img src="{% static 'core/img/top/op2.jpg'%}" class="ui medium centered fluid image" />
            </div>
        </div>
        <div class="row">
            <div class="six wide column">
                <img src="{% static 'core/img/top/op1.jpg'%}" class="ui medium centered fluid image" />
            </div>
            <div class="eight wide right floated column">
                <h3 class="ui huge header"></h3>
                <p>Esta noticia desato la gran era de la piratas lanzando a incontables piratas a ese lugar, en busca de "One Piece" el tesoro perdido.</p>
                <h3 class="ui huge header"></h3>
                <p> Diez años después, Luffy inspirado en "Gol D. Roger" y un pirata de nombre Akagami no Shanks (Shanks el pelirrojo) se convierte en pirata deseando ser el próximo "Rey de los Piratas" y zarpa para conocer amigos y tener aventuras con ellos,
                    teniendo como meta encontrar el "One Piece".</p>
            </div>
        </div>
    </div>
    <div class="spacer"></div>

</body>
{% endblock %}